{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% load crispy_forms_filters %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/global.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/widgets.css"/>
{% endblock %}

{% block extrascript %}
    {{ block.super }}
    <script type="text/javascript">
        window.__admin_media_prefix__ = "{{ STATIC_URL }}admin/";
    </script>
    <script src="{% url 'admin:jsi18n' %}"></script>
    <script src="{{ STATIC_URL }}admin/js/core.js"></script>
    {{ form.media }}
{% endblock %}

{% block content %}
<form class="form-horizontal" method="post" id="id_edit_form">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-actions">
        <button class="btn btn-primary">{% trans "Submit" %}</button>
    </div>
</form>
{% endblock %}
